.button {
  white-space: none;
  text-align: center;
  padding: 16px 25px ;
  background-color: var(--Moderate-cyan);
  font-weight: 500;
  border-radius: 50px;
  color: var(--White);

  &:hover{
    background-color: var(--Dark-cyan);
    cursor: pointer;
  }
  
}


.hidden {
  visibility: hidden;
  opacity: 0;
  opacity: 0;
  transition : visibility 0s, opacity 0.6s linear;
  height: 0;
  
}



.mg-container{
  padding: 2rem 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) , -1px -1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: var(--White);
  

}


.title{
  font-size: 1.1875em;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--Black);
}

.text{
  width: 95%;
  margin-bottom: 2rem;
  font-size: 14px;
  line-height: 1.5rem;
}

.card{
  border: 1px solid var(--Gray);
  border-radius: 8px;
  margin-bottom: 1.5rem;
  padding-inline: 1.5rem;
  padding-bottom: 1.5rem;
}

.title2{
  font-size: 0.8125em;
  color: var(--Black);
  font-weight: 700;
  margin-block: 1.5rem .875rem;

}

.subtitle{
  color: var(--Moderate-cyan);
  font-size: 0.8125em;
  font-weight: 700;
  margin-bottom: .875rem;

}

.card-disabled{
  opacity: .5;
  pointer-events: none;
  user-select: none;
}

.button-disabled{
  background-color: var(--Dark-gray);

}

.input-radio{
  width: 20px;
  height: 20px;  
  appearance: auto;
  
  
}

.card-selected{
  border: 1px solid var(--Moderate-cyan);
}